header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;

  .header-container {
    margin: 0 auto;
    max-width: 1000px;

    .navigation__menu {
      width: 100%;
      background-color: #333;

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;


        .menu__item {
          padding: 12px 15px;
          min-height: 35px;
          display: flex;
          align-items: center;

          .menu__item_link {
            color: #f2f2f2;
            text-decoration: none;
            font-size: 17px;
          }

          &:hover {
            background-color: #ddd;
            .menu__item_link {
              color: black;
            }
          }

          &:active {
            background-color: #067a50;
          }
        }
        .menu__item-active {
          background-color: #04aa6d;
        }
      }
    }
  }
}

@media (min-width: 767px) {

}