@charset "UTF-8";
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

header .header-container {
  margin: 0 auto;
  max-width: 1000px;
}

header .header-container .navigation__menu {
  width: 100%;
  background-color: #333;
}

header .header-container .navigation__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .navigation__menu .menu .menu__item {
  padding: 12px 15px;
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .navigation__menu .menu .menu__item .menu__item_link {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
}

header .header-container .navigation__menu .menu .menu__item:hover {
  background-color: #ddd;
}

header .header-container .navigation__menu .menu .menu__item:hover .menu__item_link {
  color: black;
}

header .header-container .navigation__menu .menu .menu__item:active {
  background-color: #067a50;
}

header .header-container .navigation__menu .menu .menu__item-active {
  background-color: #04aa6d;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 10px;
}

main .block__section {
  background-color: #c2c2c2;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

main .block__section_foto {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .block__section_foto .main-foto {
  max-height: 175px;
  border-radius: 15px;
}

main .block__section_skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

main .block__section_skills p::before {
  content: '◉';
  padding-right: 10px;
  font-size: 14px;
}

main .block__section_skills .block__section_hard-skill,
main .block__section_skills .block__section_soft-skill {
  border: solid 2px #00000020;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d2d2d2;
  height: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.logo-rs {
  height: 40px;
}

h1 {
  font-size: 3rem;
  margin: 10px 20px;
}

h2 {
  font-size: 2rem;
  margin: 20px;
}

h3 {
  font-size: 1.5rem;
  margin: 20px;
}

p {
  font-size: 1.2rem;
  margin: 5px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  height: 100%;
}

html body .wrapper {
  background-color: #ddd;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
